*
  :font
    :size 10pt
    :family Verdana

body 
  :text-align center
  :background #E5E5E5
  :padding 0
  :margin 0

hr
  :clear both
  :margin-top 1%
  :color #804204
  :background-color #804204
  :border none
  :height 1px

#container
  :margin 0 auto
  :text-align left
  :width 980px
  
#faux_container
  :margin 0 auto
  :text-align left
  :background url(/images/right.gif) repeat-y 100% 0
  :overflow auto

#header
  :background #046380
  :margin-bottom 2px
  :padding 1%
  :height 100px

#main_content
  :float left
  :padding 3px
  :padding-top 20px
  :width 733px
  :background #FFFFFF

#right_content
  :float left
  :padding 3px
  :text-align center
  :width 235px
  :background #BFBFBF
  p
    :font
      :size 8pt

.rounded
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
.rounded-left
  :-moz-border-radius-topleft 5px
  :-moz-border-radius-bottomleft 5px
  :-webkit-border-top-left-radius 5px
  :-webkit-border-bottom-left-radius 5px
.rounded-right
  :-moz-border-radius-topright 5px
  :-moz-border-radius-bottomright 5px
  :-webkit-border-top-right-radius 5px
  :-webkit-border-bottom-right-radius 5px

#footer
  :clear both
  :background #FFFFFF
  :margin 5px 0
  :padding 1px
  :font
    :family Helvetica
    :size 6pt

#title
  :font 
    :size 15pt
  :color #804204
  :float left
  a
    :font 
      :size 15pt
    :color #804204
    :text-decoration none

  :hover
    :text-decoration underline

#date 
  :font 
    :family Helvetica
    :size 10pt
  :text-align right
  :color #804204

#post_body
  :clear both
  :margin
    :bottom 2%
    :top 1%

#header_title
  :text-align center
  a
    :font
      :size 25pt
      :family Verdana
    :color #FFFFFF
    :text-decoration none

#menu
  li
    :display inline
    :padding 1%
  a
    :text-decoration none
    :color #FFFFFF

#float_right
  :float right
