* {
  font-size: 10pt;
  font-family: Verdana; }

body {
  text-align: center;
  background: #E5E5E5;
  padding: 0;
  margin: 0; }

hr {
  clear: both;
  margin-top: 1%;
  color: #804204;
  background-color: #804204;
  border: none;
  height: 1px; }

#container {
  margin: 0 auto;
  text-align: left;
  width: 75%; }

#container2 {
  margin: 0 auto;
  text-align: left;
  width: 100%;
  background: url(/images/right_background.gif) repeat-y 65% 0;
  overflow: auto; }

#header {
  background: #046380;
  margin-bottom: 2px;
  padding: 1%; }

#main_content {
  width: 75%;
  float: left;
  padding: 1%; }

#right_content {
  width: 20%;
  padding: 1%;
  float: left; }
  #right_content p {
    font-size: 8pt; }

.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

.rounded-left {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px; }

.rounded-right {
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px; }

#footer {
  clear: both;
  background: #FFFFFF;
  margin: 5px 0;
  padding: 1px;
  font-family: Helvetica;
  font-size: 6pt; }

#title {
  font-size: 15pt;
  color: #804204;
  float: left;
  hover-text-decoration: underline; }
  #title a {
    font-size: 15pt;
    color: #804204;
    text-decoration: none; }

#date {
  font-family: Helvetica;
  font-size: 10pt;
  text-align: right;
  color: #804204; }

#post_body {
  clear: both;
  margin-bottom: 2%;
  margin-top: 1%; }

#header_title {
  text-align: center; }
  #header_title a {
    font-size: 25pt;
    font-family: Verdana;
    color: #FFFFFF;
    text-decoration: none; }

#menu li {
  display: inline;
  padding: 1%; }
#menu a {
  text-decoration: none;
  color: #FFFFFF; }

#float_right {
  float: right; }
