Hi there!

%p
  My name is Luis Saffie. I am a technology and solutions professional and lover at heart. I have over 12 years experice in technology sector with proven results.

%p
  I specialize in providing technology solutions for enterprises from network setup and technology advisor to creating customized applications that meets one needs.

%ul
  %li= link_to "https://github.com/lsaffie"
  %li= link_to "https://twitter.com/lsaffie"
  %li= link_to "Get in touch", "/contact"
