%h2
  IT Services:

%p
  one-stop customized technology solutions:

%ul
  %li
    Data Networks in general
  %li
    Advisor
  %li
    Network setup
  %li
    Audio visual advisor
  %li
    Graphic design & software development (including mobile)
  %li
    Agile coach
