=form_for(@post) do |f|
  %table
    %tr
      %td
        =select("tag","tag_id", Tag.all.collect {|p| [p.name, p.id]})
    %tr
      %td
        Title:
      %td
        =f.text_field :title
    %tr
      %td
        Body:
      %td
        =f.text_area :body
  =submit_tag 'save'
