#left-content
  -@posts.each do |post|
    .post
      #title
        =link_to post.title, post
      .subtitle
        =post.created_at.strftime("%b %d, %Y")
      #post_body
        =truncate RedCloth.new(post.body), :length => 260
      .comments-count
        =pluralize(post.comments.count, 'comment')

  #second-header
    =will_paginate @posts
