#left_content.rounded
  -@posts.each do |post|
    .post
      #title
        =link_to post.title, post
      .date
        =post.created_at.strftime("%b %d, %Y")
      #post_body
        =truncate RedCloth.new(post.body), :length => 260
