#left-content
  -@posts.each do |post|
    .post
      #title
        =link_to post.title, post
      .subtitle
        =post.created_at.strftime("%b %d, %Y")
        -if current_user
          =link_to "Edit", edit_post_path(post)
          =button_to "Delete", post, :method => :delete
      #post_body
        =truncate RedCloth.new(post.body), :length => 100
      .comments-count
        =pluralize(post.comments.count, 'comment')

#right_content{:class => 'rounded'}
  =render :partial => 'layouts/right_content.html.haml'

