.post-container.rounded
  #title
    =@post.title
  .date
    =@post.created_at.strftime("%b %d, %Y")
  #post_body
    =@post.body.html_safe


  %p
    %hr
    #comments
      =render :partial => 'comments/index.html.haml'
      =render :partial => 'comments/comment.html.haml'
