%img{:src => "/images/about.gif"}

%p
  For those of you who care, I've been in the IT field for the
  past 10 years and have developed a passion for system administration
  and programming. Specifically, Unix and Ruby on Rails.
%p
  In this web space, I'll write about experiences I've had and my take on them.
  This space is by no means meant to teach or promote anything but rather as 
  my personal blog to vent and keep track of my thoughs.
