%img{:src => "/images/about.gif"}

%p
  For those of you who care, I've been in the IT field for the
  past 12 years and have developed a passion for system administration
  and programming. Specifically, Unix and Ruby on Rails.
%p
  I also provide consulting/contrator services: Systems administration, web development and Agile

