!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"} 
  %head
    %title                 
      =yield :title 
    =javascript_include_tag :defaults
    =stylesheet_link_tag 'style'
  %body
    -if user_signed_in?
      =render :partial => 'layouts/admin_menu.html.haml'
    #container
      #header{:class => 'rounded'}
        =render :partial => 'layouts/header.html.haml'
        %p.notice
          =notice
        %p.alert
          =alert

      #main_content
        =yield
      #right_content{:class => 'rounded'}
        =render :partial => 'layouts/right_content.html.haml'
      #footer{:class => 'rounded'}
        =render :partial => 'layouts/footer.html.haml'
