!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      =yield :title
    =javascript_include_tag "application", "http://cdn.sublimevideo.net/js/3s7oes9q.js"
    =stylesheet_link_tag 'application'
    %meta{:name => "google-site-verification", :content => "BGlcBbBgep6dkNPO25kRTfY31WdYUk1C-eoClXuG3sI"}
  %body
    #header
      =render :partial => 'layouts/header'
      -if user_signed_in?
        =render :partial => 'layouts/admin_menu'

    #container
      #main_content
        =yield
      -if @posts
        .digg_pagination
          =will_paginate(@posts)
      #footer
        =render :partial => 'layouts/footer'

    =render :partial => 'layouts/analytics'
